plyfile
pip
torch
torchaudio
torchvision
tqdm
opencv-python
munch
trimesh
evo
open3d
torchmetrics
imgviz
PyOpenGL
glfw
PyGLM
wandb
lpips
rich
ruff
wheel
submodules/simple-knn
submodules/diff-gaussian-rasterization